<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacknic.glut">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于崩溃信息收集 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- /用于崩溃信息收集 -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TA_APPKEY"
            android:value="Aqc1105763654" />
        <meta-data
            android:name="InstallChannel"
            android:value="${INSTALL_CHANNEL}" />

        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.jacknic.glut.TENCENT.MID.V3"
            android:exported="true" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="设置"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.educational.ExamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.educational.StudentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.educational.ProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.educational.GradeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.library.BorrowActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>